.homeJobs {
    width: 100%;
    margin-top: 60px;
    padding: 10px;
    // background-color: red;

    .homeJobsBtn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 300ms ease-in-out;

        button {
            background-color: transparent;
            padding: 5px 10px;
            border: none;
            color: rgb(25,118,210);
            font-size: 15px;

            &:hover{
                cursor: pointer;
            }
        }
    }

}